@import url(subscribe-form.css);
@import url(buttons.css);

/* TEXT */

.post-content p {
  text-align: justify;
}

.post-content em,
.post-content strong {
  color: inherit;
}

p.center,
a.center {
  text-align: center;
  width: 100%;
}

/* ALERT BOXES */

.post-content blockquote {
  padding: 0.5em 1.5em;
  border-left: 4px solid;
  border-left-color: var(--midgrey);
  background-color: #fafafa;
  border-radius: .3em;
}

.post-content blockquote.info {
  border-left-color: #3eb0ef;
  background-color: aliceblue;
}

blockquote.info a:hover {
  color: #316878;
  box-shadow: #316878 0 -1px 0 inset;
}

.post-content blockquote.success {
  border-left-color: lightgreen;
  background-color: #eff9ef;
}

blockquote.success a:hover {
  color: #3b763b;
  box-shadow: #3b763b 0 -1px 0 inset;
}

.post-content blockquote.warning {
  border-left-color: #ffa5007f;
  background-color: #fef4e6;
}

blockquote.warning a:hover {
  color: #955904;
  box-shadow: #955904 0 -1px 0 inset;
}

.post-content blockquote.danger {
  border-left-color: #ee5f5b;
  background-color: #fdefef;
}

blockquote.danger a:hover {
  color: #8f3937;
  box-shadow: #8f3937 0 -1px 0 inset;
}

/* PROGRESS BAR */

progress.reading-progress-bar {
  -webkit-appearance: none;
  appearance: none;
  z-index: 1000;
  position: fixed;
  top: 64px;
  width: 100%;
  height: 5px;
}

progress.reading-progress-bar[value]::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

progress.reading-progress-bar[value]::-webkit-progress-value {
  background-color: var(--midgrey);
}

/* CODE */

pre[class*=language-] {
  margin-top: -0.25em;
  margin-bottom: 1.75em;
  font-size: 1.5rem;
}

div.code-toolbar {
  width: 100%;
}

div.code-toolbar > .toolbar {
  top: 2px;
  right: 14px;
}

/* IMAGES */

img.center {
  display: block;
  margin: 0 auto;
}

img.inline, img[src$='#inline'] {
  display: initial;
  max-width: initial;
  height: initial;
  padding: initial;
  position: initial;
  left: initial;
  margin: auto;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}

@media (min-width: 600px) {
  img[align] {
    margin: auto;
  }

  img[align='left'] {
    margin-right: 16px;
  }

  img[align='right'] {
    margin-left: 16px;
  }
}

.post-content p > img {
  max-width: 100%;
}

.post-content img,
.post-full-image img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.post-full-image {
  background: none;
}

@media (prefers-color-scheme: dark) {
  .post-full-image {
    background-color: inherit;
  }
}

@media only screen and (max-width: 500px) {
  .post-content img.image {
    width: initial;
  }
}

/* MARGIN */

.mr-xs {
  margin-right: 8px;
}

.post-content > a {
  margin: 0 0 2em;
}

.post-full-content {
  padding-bottom: 0;
}

.post-card {
  border-bottom: none;
}
